#directions {
	background-color: orange;
}

#fighters {
	background-color: white;
	margin: 15px 0px 15px 0px;
}

#combat {
	background-color: red;
	margin: 15px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
}

#controls {
	background-color: green;
}

#bulbasaur {
	background: url("../images/bulbasaur.png") center no-repeat;
	background-size: 100% 100%;
	border-color: green;
}

#charmander {
	background: url("../images/charmander.png") center no-repeat;
	background-size: 100% 100%;
	border-color: red;
}

#squirtle {
	background: url("../images/squirtle.png") center no-repeat;
	background-size: 100% 100%;
	border-color: blue;
}

#pikachu {
	background: url("../images/pikachu.png") center no-repeat;
	background-size: 100% 100%;
	border-color: yellow;
}

.fighter {
	display: inline-block;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: serif;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 200px;
	height: 200px;
	border: 4px solid;
}

.lineup {
	display: inline-block;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: serif;
	text-align: center;
	margin: 0px 10px 0px 10px;
	width: 200px;
	height: 200px;
	border: 4px solid;
}

.vs {
	background: url("../images/Vs.png") center no-repeat;
	background-size: 100% 100%;
	border: none;
}

.cntrls {
	margin-left: 50px;
	margin-right: 200px;
	width: 100px;
	height: 75px:;
}