body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../images/colors2.jpg");
	background-size: cover;
}

#title {
	font-family: 'Barrio', cursive;
	font-size: 75px;
	background-color: black;
	margin: 0px;
	padding: 20px;
}

#directions {
	font-family: 'Schoolbell', sans-serif;
	font-size: 24px;
	background-color: orange;
	padding: 15px 10px 15px 10px;
}

#fighters {
	font-family: 'Schoolbell', sans-serif;
	font-size: 20px;
	min-height: 240px;
	background: linear-gradient(orange, #A02422);
	padding: 15px 0px 15px 0px;
}

#combat {
	background-color: #A02422;
	padding: 15px 0px 15px 0px;
}

#hp {
	background-color: #A02422;
}

#controls {
	background-color: black;
	padding: 10px;
}

#bulbasaur {
	background: url("../images/bulbasaur.png") center no-repeat;
	border-color: green;
}

#charmander {
	background: url("../images/charmander.png") center no-repeat;
	border-color: red;
}

#squirtle {
	background: url("../images/squirtle.png") center no-repeat;
	border-color: blue;
}

#pikachu {
	background: url("../images/pikachu.png") center no-repeat;
	border-color: yellow;
}

.container {
	background-color: black;
	padding: 5px;
	margin-top: 20px;
}

.fighter {
	display: inline-block;
	background-color: red;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Schoolbell', sans-serif;
	text-align: center;
	margin: 0px 10px 0px 10px;
	height: 200px;
	width: 200px;
	border: 4px solid;
}

.lineup {
	display: inline-block;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Schoolbell', sans-serif;
	text-align: center;
	height: 200px;
	width: 200px;
	margin: 0px 10px 0px 10px;
	border: none;
}

.vs {
	background: url("../images/Vs.png") center no-repeat;
	background-size: 100% 100%;
	border: none;
	color: white;
}

.health {
	display: inline-block;
	margin: 0px 10px 0px 10px;
	width: 200px;
	height: 1em;
	border: 4px solid black;
}

.prcntBar {
	background-color: #32CD32;
	height: 100%;
	border: none;
}

.atkHPBar {
	width:100%;
}

.defHPBar1 {
	width: 100%;
}

.defHPBar2 {
	width: 100%;
}

.defHPBar3 {
	width: 100%;
}

.space {
	border: none;
}

.cntrls {
	margin-left: 50px;
	margin-right: 50px;
	width: 100px;
	height: 75px:;
}

.btn {
	font-family: 'Schoolbell', sans-serif;
	font-size: 20px;
}